{% extends 'base.html' %}
{% block content %}

 <div class="Blog-bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="Blogheading">
               <h3>Blog </h3>
            </div>
         </div>
      </div>
   </div>
</div>


      <!-- section --> 
      <div class="section layout_padding blog_blue_bg light_silver">
         <div class="container">
            
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="full">
                     <div class="big_blog">
                        <img class="img-responsive" src="{{blog.image.url}}" alt="#" />
                     </div>
                     <div class="blog_cont_2">
                        <h3><a href =>{{blog.title}}</a></h3>
                        <p class="sublittle">Published at {{blog.publish}} by {{blog.author}}</p>
                        <p>{{blog.body}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end section -->
{% endblock%}
  