{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Page Content--><br><br><br><br><br>
        <div class="container-fluid">
            <p>Here you can search through our projects </p>
            <form method="GET">
                <h3>{{filtered.form}}</h3>
                <button type="submit" class="btn btn-secondary">Search</button>
            </form>
        </div>
        <div class="container-fluid p-0">
        <h1>Projects</h1>
            <div class="row">
                {% for project  in projects %}
                <div class="col-md-3">
                        <div class="card mr-5">
                        <a href="{{project.get_absolute_url}}"><img class="card-img-top " style="width: 36rem;" src="{{project.image.url}}" alt="project image"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{project.title}}</h5>
                            <p class="card-text">{{project.description}}</p>
                        </div>
                        </div>
                </div>
                {% endfor %}  
            </div>
        </div>
{% endblock content %}